@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Roboto');

@supports (display: grid) {
  .App {
    height: 100vh;
    text-align: center;
    display: grid;
    grid-template-rows: 2fr 1fr 8fr 1fr;
  }
}

header {
  background: rgba(255, 170, 102, 1);
  font-family: 'Fredoka One', cursive;
  font-size: 2.5em;
}

nav {
  background: rgba(197, 255, 168, 1);
  text-align: center;
  padding: 10px;
}

a {
  text-decoration: none;
}

.main {
  background: rgb(255, 255, 255, 1);
}

.container {
  display: flex;
  flex-direction: column;
  box-shadow: lightgoldenrodyellow;
  padding: 1em;
  margin-left: 15em;
  margin-right: 15em;
  background-color: lightcoral;
  border-radius: 15px;
}

#articleTitlearea {
  height: auto !important;
  height: 100%;
  min-height: 100%;
  width: 95%;
  margin-left: auto;
  margin-top: 5px;
  background-color: whitesmoke;
  border-radius: 4px;
}

#articleTextarea {
  height: auto !important;
  height: 100%;
  min-height: 100%;
  width: 95%;
  margin-left: auto;
  margin-top: 5px;
  background-color: whitesmoke;
  border-radius: 4px;
}

.articleCard {
  font-family: 'Roboto', sans-serif;
  border: solid 1px black;
  margin: 6rem;
  padding: 20px;
  box-shadow: 10px 5px 5px lightgrey;
}

.commentInput {
  height: 40px;
}

footer {
  background: rgba(255, 119, 119, 1);
}

.navButtons {
  display: inline-block;
  margin: 0;
  padding: 0.4rem 1rem;
  border: 0;
  border-radius: 0.317rem;
  background-color: rgb(7, 145, 145);
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
}

.votesButtons {
  padding: 0.5em;
}

.topicSubhead {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

.avatar {
  height: 5%;
  width: 5%;
}
