@supports (display: grid) {
  .App {
    height: 100vh;
    text-align: center;
    display: grid;
    grid-template-rows: 2fr 1fr 8fr 1fr;
  }
}

header {
  border: 2px solid rgb(252, 190, 154);
  background: rgba(209, 145, 145, 0.4);
}

nav {
  border: 2px solid rgb(180, 206, 151);
  background: rgba(133, 150, 129, 0.4);
  text-align: left;
}

.main {
  border: 2px solid rgb(194, 137, 196);
  background: rgba(172, 120, 146, 0.4);
}

footer {
  border: 2px solid rgb(209, 169, 169);
  background: rgba(247, 242, 213, 0.4);
}

/* Button {
  
} */